.fl{

  margin-top: 50px;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0px;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  border-top: 3px solid black;
}
label{
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-left: 2px;
  font-size: 1.5rem;
  color: rgb(143, 143, 165);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
input{
  padding: 0 10px !important;
  border: none ;
  margin: 0 10px;
  border-radius: 5px;
  background: transparent;
  border-bottom: 2px solid rgb(48, 5, 26);
  outline: none;
  font-size: 1.5rem;
}
.app-main{
  margin: auto;
  padding: 200px;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
h2{
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}
p{
  color: aliceblue;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

